.fondo-body{
    background-image: url("https://www.senati.edu.pe/sites/default/files/2017/carrera/09/mecanica-automotriz-senati1800-x-1190_0.jpg");
    background-size: 100%;
}

.loginDiv{ 
	
	
	top: 20vh;
	position: relative;
	background-color: rgb(255, 255, 255);
	width: auto;
	border-radius: 60px;
	height: auto;
	
	
   
}
.intDiv{
	
	top: 20vh;
	position: relative;
	background-color: white;
	width: auto;
	border-radius: 60px;
	height: auto;
	
	
   
}
.loginContainer{
	
	padding: 10px;

}
.loginTitle{

	width: 100%;
	text-align: center;

}
.loginTitle h5{

	font-weight: bold;
	
}


