.fondo-body{
    background-image: url("https://www.nissan-cdn.net/content/dam/Nissan/pe/vehicles/nueva-xtrail/3480x1575-xtrail-desktop-lanzamiento-opt.png");
    background-size: 110% auto;
}
.contenedor {

    position: relative;
  }

.loginDiv{ 
	
	
	top: 20vh;
	position: relative;
	background-color: rgb(255, 255, 255);
	width: auto;
	border-radius: 60px;
	height: auto;
	
	
   
}
.intDiv{
	
	top: 20vh;
	position: relative;
	background-color: white;
	width: auto;
	border-radius: 60px;
	height: auto;
	
	
   
}
.loginContainer{
	
	padding: 10px;

}
.loginTitle{

	width: 100%;
	text-align: center;

}
.loginTitle h5{

	font-weight: bold;
	
}


