.fondo-body{
    background-image: url("https://www.nissan-cdn.net/content/dam/Nissan/pe/vehicles/nueva-xtrail/3480x1575-xtrail-desktop-lanzamiento-opt.png");
    background-size: 110% auto;
}
.contenedor {

    position: center;
  }